@import url('font.css');

*{
    margin: 0;
    padding: 0;
    font-family: robate;
    color: #fff;
}

/* Global variables */
:root{
    --khaki: khaki; 
    --bg-hight: #1d252b;
    --bg-dark: #24282c;    
}
.title{
    color: #fff;
    font-size:2.5rem;
}
.title span{
    color: var(--khaki);
}
button{
    background-color: var(--khaki);
}
.fas,.fab{
    color: var(--khaki);
    font-size: 1.5rem;
    margin-right: 10px;
}
.subtitle{
    color: var(--khaki);
    font-size: 2rem;
}
/* ------------------------------------------ */
body{
    background-color: var(--bg-hight);
}
/* navbar section */
.navbar-brand img{
    width: 50px;
    height: 50px;
}
/* main banner sectiop */
.banner1,.banner2,.banner3{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.banner1 img,.banner2 img,.banner3 img{
    width: 100%;
    height: 100%;
    animation: zoom-out 7s linear infinite;
    opacity: 0.5;
}
@keyframes zoom-out{
100%{
        transform: scale(1.2);
    }
}

.banner1{
    animation: slide1 12s linear infinite;
    

}
.banner2{
    animation: slide2 12s linear infinite;
}
.banner3{
    animation: slide3 12s linear infinite;
}

@keyframes slide1{
    0%{visibility: visible;}
    25%{visibility:hidden;}
    50%{visibility: hidden;}
    75%{visibility: hidden;}
    100%{visibility: hidden;}

}
@keyframes slide2{
    0%{visibility: hidden;}
    25%{visibility:hidden;}
    50%{visibility: visible;}
    75%{visibility: hidden;}
    100%{visibility: hidden;}
}
@keyframes slide3{
    0%{visibility: hidden;}
    25%{visibility:hidden;}
    50%{visibility: hidden;}
    75%{visibility: hidden;}
    100%{visibility: visible;}
}
.text-box{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
}
.text-box{
    /* border: 2px solid red; */
}

/*  Card section */
.cards{
    margin-top: 110vh;
}
.card-body .card-title{
    color: var(--bg-hight);
    
}
.card-body .fas{
    font-size: 5rem;
    text-align: right;
    margin: 0 0 5px 20px;
}

/* About us section */
.col-md-6{
    color: #fff;
}
.col-md-6 img{
    
}
.col-md-6 span{
    color: var(--khaki);
}
.col-md-6 img{
    width: 100% ;
}

/* ------ Manav sewa dal initiative ------- */
.initiative{
    /* background-image: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../assets/manav/car1.jpg'); */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/manav/car2.jpg');
    text-align: center;
    padding: 50px;
}

/* ------ Work toword socity -------- */
.socity{
    text-align: center;
    /* border: 2px solid red; */
}
.socity .card-title{
    color: var(--bg-dark);
}
.socity .card-text{
    color: var(--bg-hight);
}

/* Gallary section */
.gallery p{
   text-align: center;
   border-bottom: 3px dotted var(--khaki);
}

.item{
    padding: 10px;
}

/* Contact us */
.contact input,textarea{
    background-color: transparent;
}
.contact img{
    margin-top: 5rem;
}

/* Footer section */
.footer{
    background-color: var(--bg-dark);
}
.footer p{

}
.footer-sub{
    /* border: 2px solid red; */
    padding: 10px 40px;

}

@media (max-width:520px) {
    .banner1,.banner2,.banner3{
        height: 50vh;
    }
    .text-box{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 10%;
    
    }
    .cards{
        margin-top: 60vh;
    }
    .carousel-item{
        height: 50vh;
    }
    .title{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .initiative{
        text-align: left;
        padding: 10px;
    }
}

@media (max-width:768px) {
    .banner1,.banner2,.banner3{
        height: 60vh;
    }
    .text-box{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 10%;
    
    }
    .cards{
        margin-top: 60vh;
    }
    
}

@media (max-width:1000px) {
    .banner1,.banner2,.banner3{
        height: 70vh;
    }
    .text-box{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 10%;
    
    }
    .cards{
        margin-top: 60vh;
    }
    
}
@media (max-width:1200px) {
    .banner1,.banner2,.banner3{
        height: 90vh;
    }
    .text-box{
        width: 60%;
        position: absolute;
        top: 50%;
        left: 10%;
    
    }
    .cards{
        margin-top: 95vh;
    }
    
}


