@import url('font.css');

*{
    margin: 0;
    padding: 0;
    font-family: robate;
    color: #fff;
}

/* Global variables */
:root{
    --khaki: khaki; 
    --bg-hight: #1d252b;
    --bg-dark: #24282c;
    /* --bg-hight: #2c3238; */
    
}
.title{
    color: #fff;
    font-size:2.5rem;
}
.title span{
    color: var(--khaki);
}
button{
    background-color: var(--khaki);
}
.fas,.fab{
    color: var(--khaki);
    font-size: 1.5rem;
    margin-right: 10px;
}
.subtitle{
    color: var(--khaki);
    font-size: 2rem;
}
/* ------------------------------------------ */
body{
    background-color: var(--bg-hight);
}
/* navbar section */
.navbar {
    /* box-shadow: 1px 1px 3px 1px #fff; */
    background-color: var(--bg-hight);
}
/* main carousel section */
.container-fluid{
    width: 98%;
}
.carousel{
    margin-top: 5.5rem;
}
.carousel-inner{
    box-shadow: 1px 1px 5px 1px gray;
}
.carousel-item{
    height: 88vh;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    opacity: 0.7;
} 

/*  Card section */
.card-body .card-title{
    color: var(--bg-hight);
}
.card-body .fas{
    font-size: 5rem;
    text-align: right;
    margin: 0 0 5px 20px;
}

/* About us section */
.col-md-6{
    color: #fff;
}
.col-md-6 img{
    
}
.col-md-6 span{
    color: var(--khaki);
}
.col-md-6 img{
    width: 100% ;
}

/* ------ Manav sewa dal initiative ------- */
.initiative{
    /* background-image: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../assets/manav/car1.jpg'); */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/manav/car2.jpg') center;
    text-align: center;
    padding: 50px;
}

/* ------ Work toword socity -------- */
.socity{
    text-align: center;
    /* border: 2px solid red; */
}
.socity .card-title{
    color: var(--bg-dark);
}
.socity .card-text{
    color: var(--bg-hight);
}

/* Gallary section */
.gallery p{
   text-align: center;
   border-bottom: 3px dotted var(--khaki);
}

.item{
    padding: 10px;
}

/* Contact us */
.contact input,textarea{
    background-color: transparent;
}
.contact img{
    margin-top: 5rem;
}

/* Footer section */
.footer{
    background-color: var(--bg-dark);
}
.footer p{

}
.footer-sub{
    /* border: 2px solid red; */
    padding: 10px 40px;

}

@media (max-width:520px) {

    .carousel-item{
        height: 50vh;
    }
    .title{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
}



