@import url('font.css');

*{
    margin: 0;
    padding: 0;
    font-family: robate;
    color: #fff;
}

/* Global variables */
:root{
    --khaki: khaki; 
    --bg-hight: #1d252b;
    --bg-dark: #24282c;    
}
.title{
    color: #fff;
    font-size:2.5rem;
}
.title span{
    color: var(--khaki);
}
button{
    background-color: var(--khaki);
}
.fas,.fab{
    color: var(--khaki);
    font-size: 1.5rem;
    margin-right: 10px;
}
.subtitle{
    color: var(--khaki);
    font-size: 2rem;
}
/* ------------------------------------------ */
.navbar{
    background-color: #292d3a;
    z-index: 10;
}
/* navbar section */
.navbar-brand img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/* main banner sectiop */
.banner{
    background-color: #292d3a;
    height: 70vh;
    z-index: 11;
}
.banner::after{
    content: "";
    width: 100%;
    height: 80vh;
    background-color:  #292d3a;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(5deg);
    z-index: -1;
    
}
.banner1,.banner2,.banner3{
    width: 100%;
    height: 75vh;
    /* border: 2px solid red; */
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.banner1 img,.banner2 img,.banner3 img{
    width: 100%;
    height: 70vh;
    animation: zoom-out 20s linear infinite;
}
@keyframes zoom-out{
    100%{transform: scale(1.2);}
}
/* banner-content */
.banner-content-h1{
    font-size: 4rem;
    color: khaki;
}
.banner-content-p{
    font-size: 1.5rem;
    font-style: italic;
    font-family: poppins;
}



/*  Card section */
.cards{
    margin-top: 10vh;
}

.cards .cards-title{
    color: #1d252b;
    font-size: 3rem;
    
}
.card-body .fas{
    font-size: 5rem;
    text-align: right;
    margin: 0 0 5px 20px;
}

/* About us section */
.col-md-6{
    color: #fff;
}
.col-md-6 img{
    
}
.col-md-6 span{
    color: var(--khaki);
}
.col-md-6 img{
    width: 100% ;
}

/* About us section */
.about{
    background-color: #292d3a;
    z-index: 10;
    position: relative;
}

.about p{
    /* color: #1d252b; */
}

/* ------ Manav sewa dal initiative ------- */
.initiative{
    background-color: #292d3a;
    text-align: justify;
    padding: 50px;
}

/* ------ Work toword socity -------- */
p.socity-title{
    font-size: 3rem;
    color: #1d252b;
}
.socity{
    text-align: center;
    /* border: 2px solid red; */
}
.socity .card-title{
    color: var(--bg-dark);
}
.socity .card-text{
    color: var(--bg-hight);
}

/* Gallary section */
.gallary{
    background: #292d3a;
}
.gallery p{
   text-align: center;
   border-bottom: 3px dotted var(--khaki);
   text-align: justify;
}

.item{
    transition: 0.5s ease-in;
}
.item:hover{
    filter: brightness(80%);
}

/* Contact us */
.contact input,textarea{
    background-color: transparent;
}
.contact img{
    margin-top: 5rem;
}

/* Footer section */
.footer{
    background-color: var(--bg-dark);
}
.footer p{

}
.footer-sub{
    /* border: 2px solid red; */
    padding: 10px 40px;

}
@media (max-width:1200px) {
  
    
}
@media (max-width:1000px) {
   
    
}
@media (max-width:768px) {
   
    
}
@media (max-width:520px) {
    /* main banner */
    .banner{
        height: 100vh;
    }
    .banner1,.banner2,.banner3{
        height: 50vh;
    
    }
    .banner1 img,.banner2 img,.banner3 img{
        width: 100%;
        height: 50vh;
        animation: zoom-out 7s linear infinite;
    }
    /* banner-content */
    .banner-content-h1{
        font-size: 2rem;
        margin-top: 20px;
    }
    .banner-content-p{
        font-size: 1.2rem;
        text-align: justify;
    }
    .title{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .initiative{
        text-align: left;
        padding: 10px;
    }
}

